.feedback {
  background: linear-gradient(to right, wheat 75%, mediumpurple 75%);
  padding-bottom: 200px;
}

.feedback__title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'IBMPlexSerif', 'Roboto', sans-serif;
  padding-top: 40px;
}

.feedback__container {
  width: 100%;
  padding: 40px 0;
}

.feedback__slider {
  width: 1200px;
  margin: 0 auto;
}

.slide__wrap {
  padding: 30px;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  min-height: 200px;
  height: max-content;
}

.feedback__track.splide__track {
  padding-bottom: 20px;
}

.slide__content-name {
  font-family: IBMPlexSerif, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}

.slide__content-lang {
  font-family: IBMPlexMono, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: gray;
  margin-bottom: 8px;
}

.slide__content-text {
  font-family: IBMPlexMono, sans-serif;
  font-size: 14px;
}

.splide__arrow {
  height: 60px;
  width: 60px;
  min-width: 60px;
  background: transparent;
  opacity: 0.5;
  &:hover {
    opacity: 0.8;
  }
}

.splide__arrow svg {
  height: 35px;
  width: 35px;
  min-width: 35px;
}

.splide__arrow--prev {
  left: -100px;
}

.splide__arrow--next {
  right: -100px;
}
