@font-face {
    font-family: 'Baloo';
    src: url("../assets/fonts/Baloo-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Playfair';
    src: url("../assets/fonts/PlayfairDisplay-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'IBM';
    src: url("../assets/fonts/IBMPlexSerif-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto-Regular.ttf") format('truetype');
}